*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: f;
    background-color: rgb(250, 249, 249);
}

body{
    padding: 0px 0px 50px 0px;
}

a{
    list-style: none;
    text-decoration: none;

}
li {
    list-style: none;
}

main{
    display: flex;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    padding: 50px 0px;
}

.Image{
    padding: 0px 50px;
}
#phoneImage {
    width: 400px;
    height: 600px;
    object-fit: cover;
    background-color: white;

}

.mainContent1{
    display: flex;
    flex-direction: column;
    border: rgb(207, 204, 204) solid 1px;
    padding: 20px 40px;
    margin: 5px;
    background-color: white;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

input{
    height: 30px;
    padding: 5px;
    border: rgb(207, 204, 204) solid 1px;
    border-radius: 3px;
}

#instagramTitle{
    padding: 5px;
    margin: 10px 0px;
    background-color: white;
    display: flex;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

#instagramTitleImage{
    height: 50px;
    width: 100%;
    object-fit: cover;
}

#logInButton{
display: flex;
border: 1px solid rgb(168, 187, 250);
background-color: rgb(168, 187, 250);
color: white;
justify-content: center;
padding: 5px;
margin: 10px 0px;
border-radius: 5px;
}

#or{
    padding: 5px;
    margin: 10px 0px;
    background-color: white;
    text-align: center;
}

#or>p {
    background-color: white;
    width: 100%; 
    height: 10px; 
    border-bottom: 1px solid gray;
    text-align: center
}
span{
     background-color: #F3F5F6; 
     padding: 0 20px;
     color: gray;
     font-size: small;
}

#logInFb{
    padding: 5px;
    margin: 10px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
  
}

#logInFb>a{
    color: rgb(10, 10, 148);
    font-weight: 1000;

}

#forgotPassword{
    display: flex;
    padding: 5px;
    margin: 10px 0px;
    /* background-color: red; */
    background-color: white;
    justify-content: center;
    font-size: small;
}

#forgotPassword>a{
color: rgb(10, 10, 148);
}

.mainContent2{
    border: rgb(207, 204, 204) solid 1px;;
    padding: 20px 10px;
    margin: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.mainContent2>p>a{
    color: rgb(39, 172, 250);
    font-weight: 100;
}

.mainContent3>div{
    padding: 10px;
    display: flex;
    justify-content: center;
}

#fbLogo {
    height: 15px;
}

.playstoreImage{
    align-items: center;
}

#applePSLogo{
    height: 40px;
    width: 130px;
    margin: 5px;
}

#GooglePSLogo{ 
    height: 40px;
    width: 130px;
    margin: 5px;
}

.footer1{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px 0px;
}

.footer1_2{
    display: none;
}

.footer1_3{
    display: none;
}

.footer1_4{
    display: none;
}

.footer1>li{
    padding: 0px 5px;

}

.footer1>li>a{
  color: gray;
  font-size: 13px;
}

.footer2{
    display: flex;
    justify-content: center;
    padding: 5px 0px;

}

.footer2_2{
    display: none;
}

.footer2>li{
    padding: 0px 5px;

}

.footer2>li>a{
  color: gray;
  font-size: 13px;

}

.footer3{
    display: flex;
    justify-content: center;
    padding: 5px 0px;

}

.footer3>li{
    padding: 0px 5px;
    color: gray;
    font-size: 13px;

}


@media (max-width:850px) {
    .Image {
        display: none;
    }

}

@media (max-width:700px) {
    .Image {
        display: none;
    }
    .footer1 {
        display: none;

    }

    .footer1_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
    }

    .sub1footer1_2{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub2footer1_2{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub1footer1_2>li{
        padding: 0px 5px;
    
    }
    
    .sub1footer1_2>li>a{
      color: gray;
      font-size: 13px;
    }

    .sub2footer1_2>li{
        padding: 0px 5px;
    
    }
    
    .sub2footer1_2>li>a{
      color: gray;
      font-size: 13px;
    }

}

@media (max-width:600px) {
    .footer1 {
        display: none;

    }
    .footer1_2 {
        display: none;

    }


    .footer1_3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
    }

    .sub1footer1_3{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub2footer1_3{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub1footer1_3>li{
        padding: 0px 5px;
    
    }
    
    .sub1footer1_3>li>a{
      color: gray;
      font-size: 13px;
    }

    .sub2footer1_3>li{
        padding: 0px 5px;
    
    }
    
    .sub2footer1_3>li>a{
      color: gray;
      font-size: 13px;
    }

}

@media (max-width:550px) {
    .footer1 {
        display: none;
    }
    .footer1_3 {
        display: none;
    }


    .footer1_4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
    }

    .sub1footer1_4{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub2footer1_4{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub1footer1_4>li{
        padding: 0px 5px;
    
    }
    
    .sub1footer1_4>li>a{
      color: gray;
      font-size: 13px;
    }

    .sub2footer1_4>li{
        padding: 0px 5px;
    
    }
    
    .sub2footer1_4>li>a{
      color: gray;
      font-size: 13px;
    }

}


@media (max-width:500px) {
    .footer2 {
        display: none;
    }

    .footer2_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
    }

    .sub1footer2_2{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub2footer2_2{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0px;
    
    }

    .sub1footer2_2>li{
        padding: 0px 5px;
    
    }
    
    .sub1footer2_2>li>a{
      color: gray;
      font-size: 13px;
    }

    .sub2footer2_2>li{
        padding: 0px 5px;
    
    }
    
    .sub2footer2_2>li>a{
      color: gray;
      font-size: 13px;
    }

}